<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297059651933-i2718l56an4ckb4saiv046b1p2pf7qlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297059651933-i2718l56an4ckb4saiv046b1p2pf7qlh</string>
	<key>API_KEY</key>
	<string>AIzaSyDB3XI0BPl4dph9OXuKbCQLs4-kaZRjd74</string>
	<key>GCM_SENDER_ID</key>
	<string>297059651933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COM.SANKALP.Beverages</string>
	<key>PROJECT_ID</key>
	<string>beverages-37966</string>
	<key>STORAGE_BUCKET</key>
	<string>beverages-37966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297059651933:ios:6efe7e77942e64c98858b4</string>
</dict>
</plist>